
<!--DOCTYPE html -->
<html>
<head>
<title>I See</title>
<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
 -->
<!-- Optional theme --><!-- 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->

<link rel='stylesheet' href='css/bootstrap.min.css' />
<link rel='stylesheet' href='css/bootstrap-theme.min.css' />
<link rel='stylesheet' href='css/base.css' />
<!-- new -->
<link href='css/bootstrap.css' rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src='js/jquery.min.js'></script>
<!--theme-style-->
<link href='css/style.css' rel="stylesheet" type="text/css" media="all" /> 
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Vigor Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroId Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='//fonts.googleapis.com/css?family=Simonetta:400,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<script src= "js/bootstrap.min.js" ></script>
<!--pop-up-box-->
  <script type="text/javascript" src='js/modernizr.custom.53451.js'></script>  
  <link href='css/popup-box.css' rel="stylesheet" type="text/css" media="all">
  <script src='js/jquery.magnific-popup.js' type="text/javascript"></script>
<!--pop-up-box-->
<!-- animation-effect -->
<link href='css/animate.min.css' rel="stylesheet"> 
<script src='js/wow.min.js' ></script>
<script>
 new WOW().init();
</script>
<script src='js/jquery.wmuSlider.js'></script> 
<!-- end new -->
<style>
{{{style}}}
</style>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




<!--header-->
<div class="header">
  <div class="container">
    

    <div class="header-top">
      
      <div class="col-sm-3 header-login">
        <div class=" logo animated wow shake" data-wow-duration="1000ms" data-wow-delay="500ms">
          <a href="/"><img class="img-responsive" src="/images/rsz_1logo.png"></a>
          <!-- <h1><a href="index.html">I SEE</a>  </h1> -->
        </div>
      </div>  
      


      <div class="col-sm-9 header-social ">
              
          <ul class="social-icon">
            <li><a href="#"><i class="ic4"></i></a></li>
          </ul>
      <div class="clearfix"> </div>
    


     <div class="head">
    
      <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav">
            <li ><a class="nav-in" href="/"><span data-letters="Home">Home</span></a> </li> 
            <li ><a class="nav-in" href="/about"><span data-letters="About">About</span></a> </li> 
          </ul>
             
          </div><!-- /.navbar-collapse -->
      </nav>

    </div>
    </div>

{{{body}}}
</div>
</div>
  </div>
</div>
</div>  
<div class="footer animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
  <div class="container">
      <h4>To make the life of peeople better</h4>
      <p class="footer-in"> you will see the mystery secret of happiness when you help a visually impaired person to see !</p>
      <ul class="footer-top">
      <li><span><i class="glyphicon glyphicon-earphone"></i>01027634353</span></li>
      <li><a href="mailto:info@example.com"><i class="glyphicon glyphicon-envelope"></i> admin@i-see.tech</a>
      </li>
      </ul>
      <p class="footer-class"> © All Rights Reserved 2017 | k0f4 </p>  
  </div>
</div>  


<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>

