<!-- about -->
<div class="about">
	
		<div class="about-head">
			<h2>About us</h2>

			<div class="about-top">
				<div class="col-md-4 about-img">
						<a href="single.html"><img class="img-responsive" src="images/team.png" alt=""></a>	
				</div>
					
				<div class="col-md-4 come">
									<p>   We are developing a mobile application that uses a deep neural network algorithms which can recognize objects , describe every detail about a scene  or read from a book , newspaper or
      								anything. </p> 
						
						
				</div>
					
				<div class="col-md-4 come">
									<p>The algrithms operate offline with no need for any internet con nection. 
    								 also, the user can go through all the features in the app just by voice </p>

				
				</div>

				<div class="clearfix"> </div>

			</div>

		</div>
	
		<div class="about-middle">
	
			<div class="col-md-2 team-right">
				<h3>Team Members</h3>
				<p>Group of tech geeks in the last year in faculty of engineering , Mansoura university , with special supervisor seeking to make the life of visually impaired people's easier </p>
			</div>
		<!-- experts -->
			<div class="col-md-10 experts">
				<div class="col-md-2 ">
					
						<img src="/images/sherif.png" class="img-responsive " />
							<div class="captn">
								<h4>Dr.Sherif</h4>
								<p>Our Supervisor</p>
													
							</div>
						
					
				</div>
				<div class="col-md-2 ">
					
						<img src="/images/mo.png" class="img-responsive " />
							<div class="captn">
								<h4>Mohamed</h4>
								<p>Team Leader & Deep Learning Engineer</p>						
							</div>
						
					
				</div>
				<div class="col-md-2 ">
					
						<img src="/images/akef.png" class="img-responsive " alt=" " />
							<div class="captn">
								<h4>Ahmed</h4>
								<p>Deep Learning Engineer & web developer</p>
							</div>						
							
				</div>
				<div class="col-md-2 ">
					
						<img src="/images/nader.png" class="img-responsive " alt=" " />
							<div class="captn">
								<h4>Nader</h4>
								<p>Deep Learning Engineer</p>
							</div>						
							
				</div>
				<div class="col-md-2 ">
					
						<img src="/images/hind.png" class="img-responsive " alt=" " />
							<div class="captn">
								<h4>Hind</h4>
								<p>Android Developer</p>						
							</div>
				</div>
				<div class="col-md-2 ">
				
						<img src="/images/huda.png" class="img-responsive " alt=" " />
							<div class="captn">
								<h4>Huda</h4>
								<p>Android Developer</p>
						</div>
				</div>
		</div>
		<div class="clearfix"></div>

	</div>
<!-- //experts -->

<div class="clearfix"></div>
	</div>
	</div>

</div>
<br>
<br>



