 

					
			
		<div class="clearfix"> 

		</div>
		
		</div>

	</div>
</div>
<div class="banner-head">
	<div class="col-sm-10 col-sm-offset-2 banner-top">
		<div class=" banner animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
		 <div class="banner-bottom">
		 	<h2>I SEE Application</h2>
		 	<p>Apllication for helping visually impaired people to see without neeed to extra-hardware or
		 	internet connection !</p>
		   <a href="single.html" class="hvr-sweep-to-bottom">Download our demo App</a>
		   <div class="clearfix"> </div>
		 </div>
		</div>

	</div>
		<div class="clearfix"> </div>
</div>
<!--content-->
<div class="content">
<!--welcome-->
		<div class="col-top" >
	<div class="container">
	
			<h3>Welcome to I SEE </h3>	
		
		<div class="content-top" >
			<div class="col-md-6 content-top-1 animated wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="500ms">
				<h4>This application because they deserve to see </h4>	
			</div>
			<div class="col-md-6 content-top-2 animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
						 <p> There are 285 million people are visually impaired worldwide , 39 million of them with complete 	blindness. in Egypt there are 3 million visually impaired and one million are blind these numbers are not small and they face many problems in their daily life.</p>
						 <p> they have difficult time self-navigating outside well-known enviroments
						 and for an enviroment to be well-known for them like home  they must learn every details about it and large ostacles such as tables and chairs…. must remain in one location to prevent injury they can't read the information on a web page and they can't read from any book that isn't a brialle book </p>
						
			</div>
			<div class="clearfix"></div>
		</div>
		</div>
		</div>
		<!--//welcome-->
		<div class="content-grid">
			<div class="container">
				<!-- <div class="play-top animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms"> -->
					<center><div class="play-in">
						<h3>Video now</h3>
						<p>This is a brief demonstration to our idea </p>
						<iframe width="560" height="315" src="https://www.youtube.com/embed/YY2iUhw611Y" frameborder="0" allowfullscreen></iframe>
						<!-- <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim more hvr-sweep-to-bottom">Play Video</a> -->
					</center></div>
				<!-- </div> -->
			</div>
		</div>
		<div id="small-dialog5" class="mfp-hide">
				<!-- <iframe src="https://player.vimeo.com/video/42991839?color=ff9933&title=0&byline=0&portrait=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
				<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/7N5oVNo-oUI" frameborder="0" allowfullscreen></iframe> -->  
		</div>
				   <script>
						$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
						});
																						
						});
				</script>
        
		<!--content-mid-->
			<div class="content-mid">
				<div class="container">
				<div class="content-mid-top">
					<h3>Upcoming Features</h3>
				<p>We will launch some awesome features in the next few days to make this app very effective and really doing a vital role in the life of our beloved</p>

				</div>
				<div class="news">
					<div class=" new-more animated wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="500ms">
						<div class="col-md-2 new-1">
							<a href="single.html"><img src="images/test.gif" class="img-responsive" alt=""></a>
						</div>
						<div class="col-md-2 six">
							<h4>9<span>Feb</span></h4>
						
						</div>
						<div class="col-md-5 new-2">
							<p><strong>recognize the different objects in real time </strong></p>
						</div>
						<div class="col-md-3 new-3">
							<a class="more1 hvr-sweep-to-bottom" href="#">Done</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class=" new-more new-at animated wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
						<div class="col-md-2 new-1">
							<a href="single.html"><img src="images/test.gif" class="img-responsive" alt=""></a>
						</div>
						<div class="col-md-2 six">
							<h4>15<span>Mar</span></h4>
						
						</div>
						<div class="col-md-5 new-2">
							<p><strong> reading from books , papers and menus</strong> </p>
						</div>
						<div class="col-md-3 new-3">
							<a class="more1 hvr-sweep-to-bottom" href="#">Soon</a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class=" new-more animated wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
						<div class="col-md-2 new-1">
							<a href="single.html"><img src="images/test.gif" class="img-responsive" alt=""></a>
						</div>
						<div class="col-md-2 six">
							<h4>1<span>April</span></h4>
						
						</div>
						<div class="col-md-5 new-2">
							<p><strong>descriping the whole scene of the surrounding area </strong></p>
						</div>
						<div class="col-md-3 new-3">
							<a class="more1 hvr-sweep-to-bottom" href="#">Soon</a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			</div>
			<!--//content-mid-->
		<!--content-slide-->
  			<div class="content-in">
  				<div class="container">
				<h6>What people say about us</h6>
							 <div class="wmuSlider example1 animated wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="500ms">
				   <div class="wmuSliderWrapper">
					   <article style="position: absolute; width: 100%; opacity: 0;">
							<div class="team-top">	
									<img class="img-responsive" src="images/rsz_mark.jpg" alt="" >
									<p>"If there is any apllication that can threaten the success of FACEBOOK it will be I SEE "</p>

									<span>Mark Zuckerberg ,USA</span>
								</div>									
					 	</article>
						<article style="position: absolute; width: 100%; opacity: 0;">
							<div class="team-top">	
									<img class="img-responsive" src="images/rsz_andrew.png" alt="" >
									<p>"I SEE app was one of the most inspiring ideas for me to choose Machine Learning as a career"</p>

									<span>Andrew Ng,USA</span>
								</div>	
					 	</article>
						<article style="position: absolute; width: 100%; opacity: 0;">
							<div class="team-top">	
								
									<img class="img-responsive" src="images/steve.png" alt="" >
									<p>"I wish i were alive to be an witness on that great moment in the revolutionary era of the earth"</p>

									<span>Steve Jobs ,Better place <3 </span>
								</div>	
					 	</article>
					 	
					 </div>
	                <ul class="wmuSliderPagination">
	                	<li><a href="#" class="">0</a></li>
	                	<li><a href="#" class="">1</a></li>
	                	<li><a href="#" class="">2</a></li>
	                </ul>
	            </div>
	            <!-- <script src="js/jquery.wmuSlider.js"></script>  -->
				  <script>
	       			$('.example1').wmuSlider();         
	   		     </script> 	           	         
				</div>
			
			</div>
		</div>
 		<!--//content-slide-->
</div>